<p>You can ingest data from Kafka, RabbitMQ, files, Hadoop File System (HDFS), HBase, IoT devices, and more.  You will need to find the right source operator for your data.</p>
<p>The table below lists common data sources and the corresponding Streams operators.</p>
<table>
<thead>
<tr>
<th><strong>Data source</strong></th>
<th><strong>Operator</strong></th>
<th><strong>Toolkit</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>IBM  Event Streams (formerly Message Hub)</td>
<td>MessageHubConsumer</td>
<td><a href="https://github.com/IBMStreams/streamsx.messagehub">streamsx.messagehub</a></td>
</tr>
<tr>
<td>MQTT</td>
<td>MQTTSource</td>
<td><a href="https://github.com/IBMStreams/streamsx.mqtt">streamsx.mqtt</a></td>
</tr>
<tr>
<td>Kafka</td>
<td>KafkaConsumer</td>
<td><a href="https://github.com/IBMStreams/streamsx.kafka">streamsx.kafka</a></td>
</tr>
<tr>
<td>HDFS</td>
<td>HDFS2FileSource</td>
<td><a href="https://github.com/IBMStreams/streamsx.hdfs">streamsx.hdfs</a></td>
</tr>
<tr>
<td></td>
<td>HDFS2DirectoryScan</td>
<td></td>
</tr>
<tr>
<td>HBase</td>
<td>HBaseScan/HBaseGet</td>
<td><a href="https://github.com/IBMStreams/streamsx.hbase">streamsx.hbase</a></td>
</tr>
<tr>
<td>Any JDBC compliant RDBMS</td>
<td>JDBCRun</td>
<td><a href="https://github.com/IBMStreams/streamsx.jdbc">streamsx.jdbc</a></td>
</tr>
<tr>
<td>JMS</td>
<td>JMSSource</td>
<td><a href="https://github.com/IBMStreams/streamsx.jms">streamsx.jms</a></td>
</tr>
</tbody>
</table>
<h3 id="existing-tutorials">Existing tutorials</h3>
<ul>
<li><p><a href="/streamsx.documentation/docs/messaging/kafka-operators-getting-started">Connect to Apache Kafka using the Kafka toolkit</a></p>
</li>
<li><p><a href="/streamsx.documentation/docs/messaging/kafka-operators-getting-started">Get started with the JMS toolkit</a></p>
</li>
<li><p><a href="https://www.ibm.com/cloud/blog/get-started-streaming-analytics-message-hub">Connect to IBM Event Streams (formerly MessageHub)</a></p>
</li>
</ul>
<p>View the full list of <a href="https://cloud.ibm.com/docs/services/StreamingAnalytics/compatible_toolkits.html#compatible_toolkits">supported toolkits in the Streaming Analytics service</a> and in a <a href="https://www.ibm.com/support/knowledgecenter/SSCRJU_4.3.0/com.ibm.streams.toolkits.doc/spldoc/dita/toolkits/toolkits.html">local install</a>.</p>
