<div>
  <p>
    A project contains stream processing applications. An application is a collection of operators, all of which process streams of data. You may develop these applications in Visual Studio Code or the Streams Studio integrated development environment, and run them in a Streams instance.
  </p>

  <details class="details-styled">
    <summary>IBM Streams extension for Visual Studio Code</summary>

    <div>
      {% include faq/answers/vs-code-prereq.html %}

      <ol>
        <li>
          Click <strong>File</strong> > <strong>Open...</strong> (or <strong>Add Folder to Workspace...</strong>).
        </li>
        <li>
          Browse to the project folder and click <strong>Open</strong> (or <strong>Add</strong>).
        </li>
        <li>
          The imported project files can be viewed in the <strong><a href="https://code.visualstudio.com/docs/getstarted/userinterface#_explorer">Explorer</a></strong> view on the left side.
        </li>
      </ol>
    </div>
  </details>

  <details class="details-styled">
    <summary>IBM Streams Studio</summary>

    <div>
      <ol class="list-less-padding">
        <li>
          Click <strong>File</strong> > <strong>Import</strong>.
        </li>
        <li>
          In the dialog that appears, select <strong>General</strong> > <strong>Existing Projects into Workspace</strong>. Click <strong>Next</strong>.
        </li>
        <li>
          If the project is coming from a folder, make sure <strong>Select root directory</strong> is selected. Otherwise, if a project is coming from a ZIP file, make sure <strong>Select archive file</strong> is selected.
        </li>
        <li>
          Click <strong>Browse...</strong> and navigate to the location of the project folder or ZIP project file.
        </li>
        <li>
          Click <strong>Finish</strong>.
        </li>
        <li>
          The imported project files can be viewed in the <strong>Project Explorer</strong> view on the left side.
        </li>
      </ol>
    </div>
  </details>
</div>
