<div>
  <p>
    A Streams application bundle (<code>.sab</code>) file is a single, relocatable file that contains all the artifacts that are needed to run your application. 
  </p>

  <p>
    To submit a <code>.sab</code> file to run on an instance, you can use the Streams Console. You can also use the Streams extension for VS Code if you are developing with that IDE.
  </p>

  <details class="details-styled">
    <summary>IBM Streams extension for Visual Studio Code</summary>

    <div>
      {% include faq/answers/vs-code-prereq.html %}

      <ol>
        <li>
          Import the folder containing the <code>.sab</code> file if you haven't already. To import a project, follow the instructions <a href="/streamsx.documentation/docs/spl/quick-start/qs-3/#how-do-i-import-a-project-in-visual-studio-code-or-streams-studio">here</a>.
        </li>
        <li>
          Right-click on the <code>.sab</code> file and select <strong>Submit Job</strong>.
        </li>
        <li>
          You will prompted for the job configuration before the job is submitted.  For more information, see the <a href="https://ibmstreams.github.io/vscode-ide/docs/building-running-applications/#submitting-a-spl-application-bundle"> documentation for the Streams VS Code extension</a>.
        </li>
      </ol>
    </div>
  </details>

  <details class="details-styled">
    <summary>IBM Streams Console</summary>

    <div>
      <p>
       Follow <a href="/streamsx.documentation/docs/spl/quick-start/qs-4b-console/#submit"> these steps</a> to submit a <code>.sab</code> file from the Streams Console.
      </p>
    </div>
  </details>
  <p><br/>Learn more about application bundle files <a href="https://www.ibm.com/support/knowledgecenter/en/SSCRJU_4.3.0/com.ibm.streams.dev.doc/doc/applicationbundle.html">here</a>.</p>
</div>
