<h4>Developing for a Streams instance in IBM Cloud Pak for Data</h4>
If you are developing for a Streams instance running in IBM Cloud Pak for Data:
<br />
You need Streams stand-alone or the Streams add-on installed by your administrator.
<ul>
  <li><strong>Option 1:</strong> Install the Streams add-on for IBM Cloud Pak for Data. <br/>
    This video demonstrates installing with an embedded Zookeeper.
    <iframe width="360" height="315" src="https://www.youtube.com/embed/fx16Wp9SfhA" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br />
    <br /><a  href="https://www.ibm.com/support/producthub/icpdata/docs/content/SSQNUZ_current/cpd/svc/streams/install-intro.html">For
      more options please see the documentation</a>.
  </li>
  <li><strong>Option 2:</strong> Install Streams as a stand-alone instance. <br/>
    Watch this video for detailed steps.<br/>
    <iframe width="360" height="315" src="https://www.youtube.com/embed/reKxMF5jlSU" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br />
    <br />See the <a   href="https://www.ibm.com/support/knowledgecenter/SSCRJU_5.2.0/com.ibm.streams.install.doc/doc/install-container.html">Installation
      section in the documentation</a> for more details.
  </li>
</ul>