<p>Streams applications can be monitored using the Job Graph or the Streams Console. The tool you&#39;ll use depends on your development environment and/or preference. The Job Graph is only available in Cloud Pak for Data, but the Streams Console is included with all versions of Streams.</p>
<h3 id="using-the-job-graph">Using the Job Graph</h3>
<p>The Job Graph is available in the CPD web interface</p>
<p>For the <a href="/streamsx.documentation/docs/spl/quick-start/qs-5-cpd">Job Graph in CPD, see this section</a>.</p>
<h3 id="using-the-streams-console">Using the Streams Console</h3>
<p>If you are not using Streams in CPD or are looking for a more advanced alternative to the Job Graph, you can <a href="/streamsx.documentation/docs/spl/quick-start/qs-6-console">monitor the health of your Streams application and cluster using the Streams Console</a>.</p>
