The Streaming Analytics service is Streams' Software as a Service offering. You do not need to install Streams to use it. Instead, create an instance of the service in the IBM Cloud.
  <h4 id="startingastreaminganalyticsservice">Create an instance of the Streaming analytics service</h4>
  Create an instance of the Streaming Analytics service, in <a href="https://cloud.ibm.com/">IBM Cloud</a> if you have not already done so:

To create a new Streaming Analytics service:
<ol>
<li>Go to the <a href="https://cloud.ibm.com">IBM Cloud web portal</a> and sign in (or sign up for a free IBM Cloud account).</li>

<li>Click <strong>Catalog</strong>, browse for the Streaming Analytics service, and then click it.</li>

<li>Enter the service name and then click <strong>Create</strong> to set up your service. The service dashboard opens and your service starts automatically. The service name appears as the title of the service dashboard.</li>
</ol>

<b>Make sure the service is started:</b>
From the service dashboard, click <b>START</b>.
<br/><br/>