To connect to the Streaming Analytics service in IBM cloud you need to get the service credentials from the Streaming Analytics service dashboard.
<p>
To copy your service credentials, open the Streaming Analytics service dashboard click <strong>Service Credentials</strong>, then <strong>View Credentials</strong>, and copy the contents of the cell. Click <strong>Add new credentials</strong> if there are no credentials listed.
</p>
<p>See the image below for an example. Click to enlarge.</p>

<a href="/streamsx.documentation/images/python/sa-credentials-only.png">
<img width="600" height="500" src="/streamsx.documentation/images/python/sa-credentials-only.png"></a>
