<h4>Submit to the Streaming Analytics service</h4>
        To connect to the Streaming Analytics service in IBM cloud you need to get the service credentials from the Streaming Analytics service dashboard.
        <p>
        To copy your service credentials, open the Streaming Analytics service dashboard click <strong>Service Credentials</strong>, then <strong>View Credentials</strong>, and copy the contents of the cell. Click <strong>Add new credentials</strong> if there are no credentials listed.
        </p>
        <p>See the image below for an example. Click to enlarge.</p>

        <a href="/streamsx.documentation/images/python/sa-credentials-only.png">
        <img width="600" height="500" src="/streamsx.documentation/images/python/sa-credentials-only.png"></a>
        
        <h5>Copy this code snippet:</h5>
    
        {% highlight python %}
        from streamsx.topology.context import ConfigParams
        from streamsx.topology import context
        import json
        import getpass
        
        
        service_cfg  = {}
        
        SA_credentials=getpass.getpass('Streaming Analytics credentials:')
        service_cfg[ConfigParams.SERVICE_DEFINITION] = json.loads(SA_credentials)
            
        def submit_topology(topo):
            global service_cfg
            service_cfg[context.ConfigParams.SSL_VERIFY] = False
        
            # This specifies how the application will be deployed
        
            contextType = context.ContextTypes.STREAMING_ANALYTICS_SERVICE
        
            return context.submit (contextType, topo, config = service_cfg) 
   {% endhighlight %}    