<h4>Code to submit to the Streaming Analytics service</h4>
        To connect to the Streaming Analytics service in IBM cloud you need to get the service credentials from the Streaming Analytics service dashboard.
        <p>
        To copy your service credentials, open the Streaming Analytics service dashboard click <strong>Service Credentials</strong>, then <strong>View Credentials</strong>, and copy the contents of the cell. Click <strong>Add new credentials</strong> if there are no credentials listed.
        </p>
        <p>See the image below for an example. Click to enlarge.</p>

        <a href="/streamsx.documentation/images/python/sa-credentials-only.png">
        <img width="600" height="500" src="/streamsx.documentation/images/python/sa-credentials-only.png"></a>
        
 
<br/>
<strong>Copy this code snippet:</strong>


{% highlight python %}
from streamsx.topology.context import ConfigParams
from streamsx.topology import context
import json
import getpass



def submit_topology(topo):
    # This specifies how the application will be deployed
    contextType = context.ContextTypes.STREAMING_ANALYTICS_SERVICE
    cfg  = {}
    SA_credentials=getpass.getpass('Streaming Analytics credentials:')
    cfg[ConfigParams.SERVICE_DEFINITION] = json.loads(SA_credentials)
    cfg[context.ConfigParams.SSL_VERIFY] = False
    
    return context.submit (contextType, topo, config = cfg) 
   {% endhighlight %}    
