<h5>Streams Console Overview</h5>

The following animation shows some of the useful features of the Streams Console.

<img alt="app in streams console" src="/streamsx.documentation/images/python/view-in-console-python.gif" />


<br/><br/>
<h5>Viewing the application’s logs</h5>
See application logs by going to the <strong>Log Viewer</strong>, which is opened from the menu options on the left.
<img alt="Streams console main" src="/streamsx.documentation/images/atom/jpg/console-main.jpg" />
<br/>
Next, expand the application, select the operator whose logs you want to inspect,  and click <strong>Console Log</strong>. Click <strong>Reload</strong> if no data appears.

<img alt="app logs" src="/streamsx.documentation/images/atom/jpg/operator-log.jpg" />
<br/>


<h3> More about the Streams Console</h3>
<br/>
See this <a href="https://developer.ibm.com/streamsdev/docs/streams-console-overview/">article on Streamsdev for an [overview of the Streams Console</a>.