<br />
<div>
  <p>
    If you already have a Streaming Analytics service in <a href="https://cloud.ibm.com/">IBM Cloud</a>, make sure that it is started and running. If you need to create a Streaming Analytics service, follow these steps:

    <ul>
      <li>Go to <a href="https://cloud.ibm.com/">IBM Cloud</a> and sign in (or sign up for a free account).</li>
      <li>Go to the <a href="https://cloud.ibm.com/catalog/services/streaming-analytics">Streaming Analytics service page</a> within the Catalog.</li>
      <li>Enter a service name (or accept the default name) and then click <strong>Create</strong> to set up your service. You will be redirected to the service list and the new service will be listed under <strong>Services</strong>. It will take some time for the service to be provisioned. Once it finishes, click on the service to see the service details page. Your service is started automatically.</li>
    </ul>
  </p>

  <p>
    To add an instance in VS Code, either:

    <ul>
      <li>Bring up the <strong>Streams Explorer</strong> view by clicking on the Streams icon on the left side of VS Code. Then, click on the <strong>+</strong> button.</li>
      <li>Run the <strong>IBM Streams: Add Instance</strong> command.</li>
    </ul>
  </p>

  <p>
    You must provide the following information in order for the Streams extension to connect to your service.

    <ul>
      <li><strong>Service credentials</strong> (in JSON format): You may add or view your credentials in your service details page. Refer to the <a href="https://cloud.ibm.com/docs/resources?topic=resources-service_credentials">documentation</a> for more details.</li>
    </ul>
  </p>

  <img src="/streamsx.documentation/images/vs-code/vs-code-add-instance-streaming-analytics.png" alt="Add instance: IBM Streaming Analytics on IBM Cloud" class="vs-code-img" />

  <p>
    Once you add the instance, you can view the instance by clicking on the IBM Streams icon on the left side to bring up the <strong>Streams Explorer</strong> view.
  </p>
</div>
