<br />
<div>
  <p>
    A provisioned IBM Streams service instance is required. If you need to provision a service instance, start <a href="https://www.ibm.com/support/producthub/icpdata/docs/content/SSQNUZ_current/cpd/svc/streams/intro.html">here</a> and follow the instructions.
  </p>

  <p>
    To add an instance in VS Code, either:

    <ul>
      <li>Bring up the <strong>Streams Explorer</strong> view by clicking on the Streams icon on the left side of VS Code. Then, click on the <strong>+</strong> button.</li>
      <li>Run the <strong>IBM Streams: Add Instance</strong> command.</li>
    </ul>
  </p>

  <p>
    You must provide the following information in order for the Streams extension to connect to your service instance.

    <ul>
      <li><strong>IBM Cloud Pak for Data version</strong>: You can find the version number in the <strong>About</strong> section after logging in to the IBM Cloud Pak for Data environment in your browser.</li>
      <li><strong>IBM Cloud Pak for Data web client URL</strong>: This is the URL used to access the IBM Cloud Pak for Data environment in your browser. It should be of the form: <code>https://HOST:PORT</code> (e.g., <code>https://123.45.67.89:12345</code>).</li>
      <li><strong>IBM Cloud Pak for Data credentials</strong>: These are the credentials (username and password) used to log in to the IBM Cloud Pak for Data environment in your browser.</li>
    </ul>
  </p>

  <img src="/streamsx.documentation/images/vs-code/vs-code-add-instance-cloud-pak-for-data.png" alt="Add instance: IBM Cloud Pak for Data deployment" class="vs-code-img" />

  <p>
    Once you add the instance, you can view the instance by clicking on the IBM Streams icon on the left side to bring up the <strong>Streams Explorer</strong> view.
  </p>
</div>
