<div class="vs-code-tabs">
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#add-instance-cloud-pak-for-data">IBM Cloud Pak for Data deployment</a></li>
    <li><a data-toggle="tab" href="#add-instance-streams-standalone">IBM Streams standalone deployment</a></li>
    <li><a data-toggle="tab" href="#add-instance-streaming-analytics">IBM Streaming Analytics on IBM Cloud</a></li>
  </ul>

  <div class="tab-content">
    <div id="add-instance-cloud-pak-for-data" class="tab-pane fade in active">
      {% include vs-code/add_instance_cloud_pak_for_data.html %}
    </div>
    <div id="add-instance-streams-standalone" class="tab-pane fade">
      {% include vs-code/add_instance_streams_standalone.html %}
    </div>
    <div id="add-instance-streaming-analytics" class="tab-pane fade">
      {% include vs-code/add_instance_streaming_analytics.html %}
    </div>
  </div>
</div>
