<div class="vs-code-tabs">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#monitor-running-app-v5">IBM Cloud Pak for Data deployment <em>or</em> IBM Streams standalone deployment</a></li>
    <li><a data-toggle="tab" href="#monitor-running-app-streaming-analytics">IBM Streaming Analytics on IBM Cloud</a></li>
  </ul>

  <div class="tab-content">
    <div id="monitor-running-app-v5" class="tab-pane fade in active">
      {% include vs-code/monitor_running_app_v5.html %}
    </div>
    <div id="monitor-running-app-streaming-analytics" class="tab-pane fade">
      {% include vs-code/monitor_running_app_streaming_analytics.html %}
    </div>
  </div>
</div>
