
<div>
  <details class="details-styled">
    <summary>Using a project in Cloud Pak for Data</summary>
    <div>
      {% include python/config/cpd_config_notebook.html%}

    </div>
  </details>
  <details class="details-styled">
    <summary>Submit to Cloud Pak for Data without a project</summary>
    <div>
      {% include python/config/cpd_config.html%}

    </div>
  </details>

  <details class="details-styled">
    <summary>CPDaaS/Streaming Analytics service</summary>
    <div>
      {% include python/config/sas_config.html%}
    </div>
  </details>

  <details class="details-styled">
    <summary>Local install</summary>
    <br />
    <div>
      {% include python/config/local_config.html%}

    </div>
  </details>

  <details class="details-styled">
    <summary>Streams on Kubernetes/OpenShift</summary>
    <br />
    <div>{% include python/config/edge_config.html%}

    </div>
  </details>
</div>

