<ol>
    <li>From the CPD main menu, click <strong>Deployments</strong>.</li>
    <li>In the <strong>Activity</strong> tab, click on <strong>View Active runs</strong>. This will take you to a list
        of job runs.</li>
    <li>In the <strong>Views</strong> drop down, choose <strong>Jobs with active runs</strong>.</li>
    <li>Click on the entry in the list matching your job name. If you submitted through the Streams Console. click the
        entry whose <strong>Type</strong> listed as <em>Streams Legacy</em>. Otherwise, click the entry matching the
        application name.
        <p> <img src="/streamsx.documentation/images/qse/active-runs.png" alt="list of active jobs"></p>

    </li>
    <li>
        <p>From the list of job runs that appears, click the job run based on the job id and start time:</p>
        <p> <img src="/streamsx.documentation/images/qse/runs-for-job.png" alt="list of job runs"></p>
    </li>
    <li>
        <p>This opens the Job Details page.</p>
        <ul>
            <li>
                <p>To open the Job Graph, click the <strong>Streams job graph</strong> link.</p>
            </li>
            <li>
                <p>To download logs, click the <strong>Logs</strong> tab to create a log snapshot and download it.
                    
                </p>
                
            </li>
        </ul>
        <br/>
        <img alt="job details page" src="/streamsx.documentation/images/qse/job-details.png" width="100%" height="100%"/>
    </li>
</ol>