<ol>
<li>Open your project and click on the <strong>Jobs</strong> tab. This will show a list of the project&#39;s jobs.</li>
<li><p>Find your job based on the <code>Job Name</code>. This will typically be of the form <code>&lt;namespace&gt;-&lt;topology_name&gt;</code>. This will list all of the job runs.</p>
<img alt="list of jobs" src="/streamsx.documentation/images/qse/jobs-list.png"/>
</code></pre></li>
<li><p>Click the <strong>Run name</strong> for the job run, which will have the format <code>&lt;namesapce&gt;::&lt;topology-name&gt;_&lt;job ID&gt;</code>.</p>
<p> <img src="/streamsx.documentation/images/qse/jobs-runs.png" alt="list of job runs"></p>
</li>
</ol>
