<ol>
    <li> From the IBM Cloud Pak for Data main menu and click on <b>My instances</b>.
    </li>
    <li>Click on the <strong>Jobs</strong> tab.
    </li>
    <li>Find the job in the list.
        
<ul>
    <li><p>To open the Job Graph, click the <strong>View graph</strong> from the context menu.</p>
    </li>
    <li><p>To download logs, click <strong>Download logs</strong> from the context menu.
    <br/>
    <img src="/streamsx.documentation/images/qse/job-details-2x.png" alt="job details in CPD v2"/>
</p>
    </li>
    </ul>
    </li>
    
    </ol>

