<p>A running Streams job corresponds to a <em>job run</em> in Cloud Pak for Data. </p>
<p>To download logs from a Streams job in Cloud Pak for Data (CPD) 3.5+, you must first find the job run in CPD. The steps to find the job run depend on how the job was submitted.</p>
<p><strong>If the Streams job was launched from a Python notebook in a CPD project:</strong></p>
<p>{% include spl/cpd/cpd35-job-details-notebook.html %}</p>
<p><strong>All other scenarios:</strong></p>
<p>{% include spl/cpd/cpd35-job-details.html %}</p>
