<h4>Cloud Pak for Data v3.0+</h4>

If you are developing for a Streams instance running in IBM Cloud Pak for Data, make sure you have <a href="https://www.ibm.com/support/producthub/icpdata/docs/content/SSQNUZ_latest/svc-streams/streams-svc-install.html">installed the add-on</a> and  <a href="https://www.ibm.com/support/producthub/icpdata/docs/content/SSQNUZ_latest/svc-streams/provision.html#provision">provisioned an instance of the service</a>.
<br />
<h4>Cloud Pak for Data v2.5</h4>
You can optionally install Streams as a stand-alone instance. <br/>
    Watch this video for detailed steps.<br/>
    <iframe width="360" height="315" src="https://www.youtube.com/embed/reKxMF5jlSU" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br />
    <br />See the <a   href="https://www.ibm.com/support/knowledgecenter/SSCRJU_5.2.0/com.ibm.streams.install.doc/doc/install-container.html">Installation
      section in the documentation</a> for more details.
  </li>
</ul>