
<div>
  <details class="details-styled">
    <summary>Streams on Cloud Pak for Data (Recommended) </summary>
    <div>
      {% include python/install/cpd_install.html%}

    </div>
  </details>

  <details class="details-styled">
    <summary>Streaming Analytics service/CPDaaS</summary>
    <div>
      {% include python/install/sas_install.html%}
    </div>
  </details>

  <details class="details-styled">
    <summary>Local installation of Streams</summary>
    <br />
    <div>
      {% include python/install/local_install.html%}

    </div>
  </details>
</div>

