 <p>
        These instructions assume that you already have a running <a href="https://cloud.ibm.com/docs/services/StreamingAnalytics?topic=StreamingAnalytics-gettingstarted#gettingstarted">IBM Streaming Analytics</a> service. If you need to create a service, start <a href="https://cloud.ibm.com/catalog/services/streaming-analytics">here</a>.
      </p>

      <ol>
        <li>
          Navigate to the <a href="https://cloud.ibm.com/resources">Resource list</a> in IBM Cloud.
        </li>
        <li>
          In the <strong>Services</strong> section, find your Streaming Analytics service in the list and click on it. You will be brought to the service's details page.
        </li>
        <li>
          Click on the <strong>Launch</strong> button. This will open the Streams Console.
        </li>
      </ol>