
<br/>
<p>These instructions assume that you have already <a href="https://www.ibm.com/support/producthub/icpdata/docs/content/SSQNUZ_latest/svc-welcome/streams.html"> provisioned an IBM Streams service instance</a> in IBM Cloud Pak for Data.
</p>
<table style="width: 100%;">
<tbody>
<tr style="height: 50px;">
<td style="width: 50%; "><strong>Cloud Pak for Data 2.0-3.0</strong><br/>
<ol>
<li>  In the IBM Cloud Pak for Data web client, open the navigation menu and click on <b>My instances</b>.
</li>
<li>Click on the <strong>Provisioned instances</strong> tab.
</li>
<li>Find your Streams instance in the list. If your IBM Cloud Pak for Data version is 3.0+, click on the instance. Otherwise, open the context menu for the instance and click on <strong>View details</strong>. You will be brought to the instance details page.
</li>
<li>In the <strong>Endpoints</strong> section, find the property called <strong>External Console endpoint</strong> and click on the corresponding link.
</li>
</ol>
</td>
<td style="width: 50%;"><strong>Cloud Pak for Data 3.5+</strong><br/>
<ol>
<li>In the IBM Cloud Pak for Data web client, open the navigation menu and click on <strong>Services > Instances</strong>.
</li>
<li>Find your Streams instance in the list and click on it. 
</li>
<li>In the <strong>Streams external endpoints</strong> section, find and click the link for <strong>Console</strong>.
</li>
</ol>
<br/><br/><br/>
</td>
</tr>
</tbody>
</table>

