 <p>
        These instructions assume that you already have an IBM Streams instance. If you need to install an instance, start <a href="https://www.ibm.com/support/knowledgecenter/en/SSCRJU_5.2.0/com.ibm.streams.install.doc/doc/install-container.html">here</a> and follow the instructions.
</p>

<p>      To find the Console URL, see the <a href="https://www.ibm.com/support/knowledgecenter/en/SSCRJU_5.2.0/com.ibm.streams.dev.doc/doc/find-dns-url.html#find-dns-url">documentation</a>. Choose <strong>Finding the internal URLs for IBM Streams services</strong> or <strong>Finding the external URLs for IBM Streams services</strong> depending on whether or not you will be accessing the Streams Console from within the Kubernetes cluster.
</p>