
<p>
       <ol>
       <li>From a terminal, run the following commands:
       <pre>
source $STREAMS_INSTALL/bin/streamsprofile.sh
streamtool geturl
       </pre>
       This will print out a URL, like this:
       <code>https://streamsqse.localdomain:8443/streams/domain/console</code>
       </li>
       <li>Open this URL in the browser and log in with your Streams credentials.</li>
       
       </ol>
       These instructions also apply to the <a href="https://ibmstreams.github.io/streamsx.documentation/docs/4.3/qse-intro/">IBM Quick Start Edition</a>.
       </p>